{% extends "base.html" %}

{% block title %}Password list{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<h1>Password list</h1>

<h3>You are logged as: {{ user.username }}</h3>

<form action="{% url 'password_change' %}" method="GET">
  {% csrf_token %}
  <button type="submit">Change password</button>
</form>

<form action="{% url 'logout' %}" method="POST">
  {% csrf_token %}
  <button type="submit">Log Out</button>
</form>
<br \></br \><br \>

<form action="{% url 'newentry' %}" method="GET">
  {% csrf_token %}
  <button type="submit">Create new entry</button>
</form>
<br \></br \>

<form acttion="% url 'passwordlist' %", method="GET">
   {% csrf_token %}
<label for="service_name">Filter by service name: </label>
<input type="text" id="service_name" name="service_name"><br \>
<p style="font-size:12px">leave blank to see the whole list</p>
<input type="submit" value="SEARCH">
</form>
<br \><br \>

<table>
  <tr>
    <th>Service name</th>
    <th>User name</th>
    <th>Password</th>
    <th>E-mail</th>
    <th>Comment</th>
  </tr>
  {% for passwordentry in entry_list %}
  <tr>        
    <td><strong>{{ passwordentry.service_name }}</strong></td>
    <td>{{ passwordentry.user_name }}</td>
    <td>{{ passwordentry.password }}</td>
    <td>{{ passwordentry.email }}</td>
    <td>{{ passwordentry.comment }}</td>
    <td>&emsp;<a href="{% url 'updateentry' passwordentry.id %}">Update entry</td>
    <td>&emsp;<a href="{% url 'deleteentry' passwordentry.id %}">Delete entry</td>
  {% endfor %}

{% else %}
<h2>Welcome to the password manager</h2>
  <p>You are not logged in</p>
  <p><a href="{% url 'login' %}">Log In</a>&emsp;<a href="{% url 'password_reset' %}">Reset Password</a></p>
  <p><a href="{% url 'signup' %}">Sign up</a></p>
{% endif %}

{% endblock %}